<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p><strong>Диаграммы</strong></p>
<p>Некоторые возможности диаграмм демонстрируется в отчетах, в том числе в отчете <a href="v8:ОткрытьСсылку=e1cib/app/Отчет.ДинамикаПродаж">Динамика продаж</a>.</p>
<p>Интерактивное редактирование значений диаграммы демонстрируется <a href="v8:ОткрытьСсылку=e1cib/app/Обработка.РедактированиеЦен">форме редактрования цен</a>.</p>
<p>Больше возможностей диаграмм продемонстрировано в отдельной конфигурации. Вы можете <a href="v8:ОткрытьСсылку=e1cib/app/Обработка.ДемонстрацияВозможностейДиаграмм">ознакомиться</a> с ними прямо в данном демонстрационном приложении благодаря возможности встраивать веб-клиент во внешние сайты.</p>
</body></html>