<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p><strong>Дополнительные демонстрационные ресурсы</strong></p>
<p>Демонстрационные конфигурации опубликованные онлайн:</p>
<ul><li><a href="v8:ОткрытьСсылку=https://platform.demo.1c.ru/demo83">"Демонстрационное приложение"</a> (текущее)</li>
<li><a href="v8:ОткрытьСсылку=https://platform.demo.1c.ru/ChartsDemo">"Диаграммы"</a></li>
<li><a href="v8:ОткрытьСсылку=https://analytics.demo.1c.ru/analytics/ans">"1С:Аналитика"</a></li>
</ul><p>Демонстрационные конфигурции доступные для скачивания: </p>
<ul><li><a href="v8:ОткрытьСсылку=https://its.1c.ru/db/metod8dev#content:5028:hdoc">"Демонстрационное приложение"</a> (текущее)</li>
<li><a href="v8:ОткрытьСсылку=https://its.1c.ru/db/metod8dev#content:5952:hdoc">"Диаграммы"</a></li>
<li><a href="v8:ОткрытьСсылку=https://its.1c.ru/db/metod8dev#content:5981:hdoc">"Демонстрация реализации чата с техподдержкой при возникновении ошибки"</a></li>
</ul></body></html>