<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body><b>Боты системы взаимодействия</b>
<div><br></div>
<div>В конфигурации реализован бот <b>ОфисМенеджер</b>.</div>
<div>Бот можно открыть через команду главного меню "Бот Офис-менеджер" или найти обсуждение "Офис-менеджер" в Системе Взаимодействия.</div>
<div>Обсуждение "Офис-менеджер" демонстрирует не только работу с ботами системы взаимодействия, но и другие возможности, описанные в статье путеводителя "Система взаимодействия".</div>
<div>В модуле бота в обработчике ОбработкаСообщенияСистемыВзаимодействия реализован разбор текста входящего сообщения.</div>
<div><br></div>
<div>Если текст сообщения содержит начала слов, входящих в наименование товара или контрагента, то:</div>
<div>
<ul><li>для товара выводятся цены (по всем видам цен) и остатки по всем складам</li>
<li>для контрагента выводятся состояние взаиморасчетов (по всем валютам) и три последних незакрытых заказа</li></ul><div>На все остальные сообщения бот отвечает подсказкой.</div>
<div><br></div>
<div>Для работы бота создано предопределенное регламентное задание <b>ОбработкаБотов</b>.</div></div>
<div>В регламентном задании раз в 60 сек выполняется вызов СистемаВзаимодействия.<b>ВыполнитьОбработкуБотов</b> (в глобальном модуле РаботаСБотами).</div></body></html>